<h2>Estad&iacute;sticas*</h2><br>

<p>N&deg; de Preguntas: <%= statistics.quizzes %></p>
<p>N&deg; de Comentarios: <%= statistics.comments %></p>
<p>Media de Comentarios por Pregunta: <%= statistics.mean %></p>
<p>N&deg; de Preguntas sin Comentarios: <%= statistics.uncommented %></p>
<p>N&deg; de Preguntas Comentadas: <%= statistics.commented %></p><br>

<p><h5>* Se incluyen los comentarios no validados</h5></p>
